.skipLink {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: calc(var(--z-overlay) + 1);
  padding: 12px 24px;
  border-radius: 0 0 var(--radius-md) 0;
  background-color: var(--primary);
  color: var(--white);
  font-size: var(--text-s);
  font-weight: var(--font-weight-medium);
  transform: translateY(-150%);
  transition: transform 0.2s ease-in;
}

.skipLink:focus-visible {
  transform: translateY(0);
}
